
<script src="__STATIC__/js/jquery.min.js?v=2.1.3"></script>
<script src="__STATIC__/js/bootstrap.min.js?v=3.3.6"></script>

<!-- Bootstrap table -->
<script src="__STATIC__/js/plugins/bootstrap-table/bootstrap-table.min.js"></script>
<script src="__STATIC__/js/plugins/bootstrap-table/bootstrap-table-mobile.min.js"></script>
<script src="__STATIC__/js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>

<!-- Data picker -->
<script src="__STATIC__/js/plugins/datapicker/bootstrap-datetimepicker.js"></script>
<script src="__STATIC__/js/plugins/datapicker/bootstrap-datetimepicker.zh-CN.js"></script>

<!-- Layer -->
<script src="__STATIC__/layer/layer.js"></script>

<!-- 自定义js -->
<script src="__STATIC__/js/content.js?v=1.3"></script>

<!-- sweetalert -->
<script src="__STATIC__/sweetalert/sweetalert.min.js"></script>

<!-- iCheck -->
<script src="__STATIC__/iCheck/custom.min.js"></script>
