<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- layui -->
    <link href="__STATIC__/layui-v2.4.3/css/layui.css?v=2.41" rel="stylesheet">

    <!-- password -->
    <link rel="stylesheet" type="text/css" href="__STATIC__/password/password.css">

    {include file="public/css" /}

</head>
<body>

<form class="layui-form" lay-filter="layuiadmin-form-admin" id="layuiFrom" action="{:url('password')}" style="padding: 20px 30px 0 0;">
    <input type="hidden" name="id" value="{$Think.session.adminId}">

    <div class="layui-form-item">
        <label class="layui-form-label">原密码</label>
        <div class="layui-input-inline">
            <input type="text" name="oldPassword" placeholder="密码为6-18个字符！" class="form-control" value="" dataType="*6-18" nullmsg="请输入原密码" autocomplete="off" errormsg="密码至少6个字符,最多18个字符！">
        </div>
        <label class="help-inline m-b-none"></label>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">新密码</label>
        <div class="layui-input-inline">
            <input type="text" name="password" placeholder="密码为6-18个字符！" class="form-control" value="" plugin="passwordStrength"  datatype="*6-18" nullmsg="请输入新密码" autocomplete="off" errormsg="密码至少6个字符,最多18个字符！">
            <div class="passwordStrength">密码强度： <span>弱</span><span>中</span><span class="last">强</span></div>
        </div>
        <label class="help-inline m-b-none"></label>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">确认密码</label>
        <div class="layui-input-inline">
            <input type="text" name="repassword" placeholder="密码为6-18个字符" class="form-control" value="" plugin="passwordStrength" nullmsg="请输入新密码" autocomplete="off" errormsg="密码至少6个字符,最多18个字符！">
        </div>
        <label class="help-inline m-b-none"></label>
    </div>

    <div class="layui-form-item text-right ">
        <div class="col-sm-4 col-sm-offset-2">
            <button class="btn btn-primary" type="submit" id="btn-submit">保存</button>
            <button class="btn  closelayer" type="button">取消</button>
        </div>
    </div>

</form>

{include file="public/js" /}

<!--validform-->
<script src="__STATIC__/js/plugins/validform/Validform_min.js"></script>
<script src="__STATIC__/js/plugins/validform/Validform_Datatype.js"></script>

<!-- password -->
<script src="__STATIC__/password/password.js"></script>

<script>
    $(function () {
        // iCheck初始化
        initIcheck();

        // 弹出层表单提交函数
        layuiFrom();
    });
</script>
</body>
</html>


