<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{$systemSetting['title']}</title>
    <meta name="keywords" content="{$systemSetting['keywords']}">
    <meta name="description" content="{$systemSetting['description']}">
    <link rel="shortcut icon" href="favicon.ico">
    {include file="public/css" /}
    <!-- webuploader -->
    <link rel="stylesheet" type="text/css" href="__STATIC__/webuploader/webuploader.css">
    <!-- cropper -->
    <link rel="stylesheet" type="text/css" href="__STATIC__/cropper/cropper.min.css">
    <link rel="stylesheet" type="text/css" href="__STATIC__/cropper/ImgCropping.css?v=1.12">
    <!-- password -->
    <link rel="stylesheet" type="text/css" href="__STATIC__/password/password.css">
</head>
<body class="gray-bg">

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h3>
                个人资料
            </h3>
        </div>
        <div class="ibox-content">
            <div class="row row-lg">
                <div class="col-sm-12" style="margin-top: 20px;">
                    <form class="form-horizontal" id="editForm" action="{:url('profile')}" method="post">
                        <input type="hidden" name="id" value="{$data['id']}">

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">头像</label>
                                <div class="col-sm-10">
                                    <div class="img-circle" style="width: 300px;height: 300px;">
                                        <img id="finalImg" src="{$data['headimg'] ? $data['headimg'] : '/uploads/default/profile.png'}" width="100%" class="img-circle" style="cursor:pointer;">
                                        <input id="headimg" type="hidden" name="headimg" value="{file_to_base64(trim('/',$data['headimg']))}">
                                    </div>

                                    <!--图片裁剪框 start-->
                                    <div style="display: none" class="tailoring-container">
                                        <div class="black-cloth" onclick="closeTailor(this)"></div>
                                        <div class="tailoring-content">
                                            <div class="tailoring-content-one">
                                                <label title="上传图片" for="chooseImg" class="l-btn choose-btn">
                                                    <input type="file" accept="image/jpg,image/jpeg,image/png" name="file" id="chooseImg" class="hidden" onchange="selectImg(this)">选择图片
                                                </label>
                                                <div class="close-tailoring" onclick="closeTailor(this)">×</div>
                                            </div>
                                            <div class="tailoring-content-two">
                                                <div class="tailoring-box-parcel">
                                                    <img id="tailoringImg">
                                                </div>
                                                <div class="preview-box-parcel">
                                                    <p>图片预览：</p>
                                                    <div class="square previewImg"></div>
                                                    <div class="circular previewImg"></div>
                                                </div>
                                            </div>
                                            <div class="tailoring-content-three">
                                                <a class="l-btn cropper-rotate-btn" type="button">复位</a>
                                                <a class="l-btn cropper-rotate-btn" type="button">旋转</a>
                                                <a class="l-btn cropper-scaleX-btn" type="button">换向</a>
                                                <a class="l-btn sureCut" id="sureCut" type="button">确定</a>
                                            </div>
                                        </div>
                                    </div>
                                    <!--图片裁剪框 end-->
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-8">

                            <div class="form-group">
                                <label class="col-sm-2 control-label">角色</label>
                                <div class="col-sm-6">
                                    {foreach $data['role'] as $key=>$vo }
                                    <label class="radio-inline i-checks"><input type="checkbox" disabled="true"  checked="checked" >{$vo}</label>
                                    {/foreach}
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">帐号</label>
                                <div class="col-sm-6">
                                    <input type="text" name="username" ajaxUrl="{:url('admin/admin/checkFieldUnique',['id' => $data['id'],'field'=> 'username' ])}" placeholder="帐号为2-18个字符" class="form-control" value="{$data['username']}" dataType="*2-18" nullmsg="请输入帐号" errormsg="帐号为2-18个字符">
                                </div>
                                <label class="help-inline m-b-none" ></label>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">部门</label>
                                <div class="col-sm-6" style="margin-top: 8px;" >{$data['departmentName']}</div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">姓名</label>
                                <div class="col-sm-6">
                                    <input type="text" name="realname" placeholder="请输入姓名" class="form-control" value="{$data['realname']}" dataType="/^([\u4e00-\u9fa5]{1,20}|[a-zA-Z\.\s]{1,20})$/" nullmsg="请输入姓名" errormsg="姓名格式错误">
                                </div>
                                <label class="help-inline m-b-none" ></label>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">状态</label>
                                <div class="col-sm-6" style="margin-top: 8px;" >{$data['status']}</div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">手机</label>
                                <div class="col-sm-6">
                                    <input type="text" name="mobile" ajaxurl="{:url('admin/admin/checkFieldUnique',['id' => $data['id'],'field'=> 'mobile' ]) }" placeholder="手机号为1开头的11位数字" class="form-control" value="{$data['mobile']}" dataType="/^1[0-9]{10}$/" nullmsg="请输入手机号" errormsg="手机号格式错误">
                                </div>
                                <label class="help-inline m-b-none" ></label>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">座机</label>
                                <div class="col-sm-6">
                                    <input type="text" name="landline" placeholder="座机号码格式：0x(2-3)--x(7-8)" class="form-control" value="{$data['landline']}" dataType="/^([0-9]{3,4}-)?[0-9]{7,8}$/" nullmsg="请输入座机号" errormsg="座机号格式错误">
                                    <em><i class="text-warning"><i class="fa fa-info-circle"></i> 座机格式：0x(2-3)--x(7-8)</i></em>
                                </div>
                                <label class="help-inline m-b-none" ></label>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">Q Q </label>
                                <div class="col-sm-6">
                                    <input type="text" name="qq" id="qq" placeholder="qq至少5个人字符，最多18个字符" class="form-control" value="{$data['qq']}" dataType="*5-18" nullmsg="请输入qq" errormsg="QQ号只能为5-18位数字">
                                </div>
                                <label class="help-inline m-b-none" ></label>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">备注</label>
                                <div class="col-sm-6">
                                    <textarea id="remark" name="remark" placeholder="请输入备注" class="form-control" style="height:100px" nullmsg="请输入备注">{$data['remark'] }</textarea>
                                </div>
                                <label class="help-inline m-b-none"></label>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-2">
                                    <button class="btn btn-primary" type="submit" id="btn-submit">保存</button>
                                </div>
                            </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{include file="public/js" /}
<!-- cropper -->
<script src="__STATIC__/cropper/cropper.min.js"></script>
<!-- validform -->
<script src="__STATIC__/validform/Validform_v5.3.2.js"></script>
<!-- password -->
<script src="__STATIC__/password/password.js"></script>


<script type="text/javascript">
    $(function() {
        // iCheck初始化
        initIcheck();

        // 提交表单
        subnitForm('editForm', false, 'help-inline');
    });

    //弹出框水平垂直居中
    (window.onresize = function () {
        var win_height = $(window).height();
        var win_width = $(window).width();
        if (win_width <= 768) {
            $(".tailoring-content").css({
                "top": (win_height - $(".tailoring-content").outerHeight()) / 2,
                "left": 0
            });
        } else {
            $(".tailoring-content").css({
                "top": (win_height - $(".tailoring-content").outerHeight()) / 2,
                "left": (win_width - $(".tailoring-content").outerWidth()) / 2
            });
        }
    })();

    //弹出图片裁剪框
    $("#finalImg").on("click", function () {
        $(".tailoring-container").toggle();
    });

    //图像上传
    function selectImg(file) {
        if (!file.files || !file.files[0]) {
            return;
        }
        var reader = new FileReader();
        reader.onload = function (evt) {
            var replaceSrc = evt.target.result;
            //更换cropper的图片
            $('#tailoringImg').cropper('replace', replaceSrc, false);//默认false，适应高度，不失真
        }
        reader.readAsDataURL(file.files[0]);
    }

    //cropper图片裁剪
    $('#tailoringImg').cropper({
        aspectRatio: 1 / 1,//默认比例
        preview: '.previewImg',//预览视图
        guides: false,  //裁剪框的虚线(九宫格)
        autoCropArea: 0.5,  //0-1之间的数值，定义自动剪裁区域的大小，默认0.8
        movable: false, //是否允许移动图片
        dragCrop: true,  //是否允许移除当前的剪裁框，并通过拖动来新建一个剪裁框区域
        movable: true,  //是否允许移动剪裁框
        resizable: true,  //是否允许改变裁剪框的大小
        zoomable: false,  //是否允许缩放图片大小
        mouseWheelZoom: false,  //是否允许通过鼠标滚轮来缩放图片
        touchDragZoom: true,  //是否允许通过触摸移动来缩放图片
        rotatable: true,  //是否允许旋转图片
        crop: function (e) {
            // 输出结果数据裁剪图像。
        }
    });
    //旋转
    $(".cropper-rotate-btn").on("click", function () {
        $('#tailoringImg').cropper("rotate", 45);
    });
    //复位
    $(".cropper-reset-btn").on("click", function () {
        $('#tailoringImg').cropper("reset");
    });
    //换向
    var flagX = true;
    $(".cropper-scaleX-btn").on("click", function () {
        if (flagX) {
            $('#tailoringImg').cropper("scaleX", -1);
            flagX = false;
        } else {
            $('#tailoringImg').cropper("scaleX", 1);
            flagX = true;
        }
        flagX != flagX;
    });

    //裁剪后的处理
    $("#sureCut").on("click", function () {
        if ($("#tailoringImg").attr("src") == null) {
            return false;
        } else {
            var cas = $('#tailoringImg').cropper('getCroppedCanvas');//获取被裁剪后的canvas
            var base64url = cas.toDataURL('image/png'); //转换为base64地址形式
            $("#finalImg").prop("src", base64url);//显示为图片的形式
            $("#headimg").prop("value", base64url);
            //关闭裁剪框
            closeTailor();
        }
    });

    //关闭裁剪框
    function closeTailor() {
        $(".tailoring-container").toggle();
    }
</script>
</body>
</html>